*, *:before, *:after {
    box-sizing: inherit;
}
html{
    font-size: 60.5%;
    box-sizing: border-box;
    scroll-snap-type:mandatory;
    color: bisque;

}
body{
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(54, 51, 48)
}
.header {
    display: flex;
    justify-content: center;
    height: 10rem;
    
}
.contenedor{
    max-width: 120rem;
    
    margin: 0 auto 0 auto;
}
footer{
   
    
    
    text-align: center;
}
.boton {
    display:flex;
   
    color:white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1rem;
    
    font-weight: 400;
    margin-bottom: 2rem;
    
}
@media (max-width: 800px) {
    .centrar {
        display: flexbox;
        font-size: small;
    }
    .campo{
        flex-direction: column;
        justify-content: center;
    }
    .boton{
        flex: content;
    }
    
}
@media (max-width: 768px) {
   
    .boton {
        display: inline-flex;

    }
}
.boton--primario {
    background-color:#000000;
    margin: 10px;
    

}
.formulario {
    background-color:rgb(29, 30, 27);
    
    width: 95%;
    padding: 5rem;
    border-radius: 23px;
}
.campo {
    
   
    padding: 10px;
}
.campo__label {
    flex:content;
    
    padding-right: 2rem;
    
}
